// COLOURS
$exp-black: #000000;
$exp-red: #BD1E2C;
$exp-yellow: #FFDE17;
$exp-blue: #214099;
$exp-white: #FFFFFF;

$exp-default-text: #051430;

$exp-primary-green: #587E61;
$exp-primary-orange: #F29441;

$exp-accent-burnt-orange: #D8814E;
$exp-accent-brick-red: #BF4545;
$exp-accent-peach: #F29580;

$exp-background-sand-light: #FDF8F3;
$exp-background-sand-dark: #F0E5D2;

// GRID
$grid-width-small: 87vw;
$grid-width-medium: 95vw;
$grid-width-big: 65vw;

// GUTTERS
// vertical
$gutter-vertical-x-small: 1.5rem;
$gutter-vertical-small: 2rem;
$gutter-vertical: 2.875rem;
$gutter-vertical-large: 5rem;

// horizontal
$gutter-horizontal-x-small: 2rem;
$gutter-horizontal-small: 2.5rem;
$gutter-horizontal: 3.75rem;
$gutter-horizontal-large: 5rem;
$gutter-horizontal-x-large: 6.25rem;
