[class^="divider-"] {
  margin-top: .625rem;
  width: 6.25rem;
  height: .25rem;

  &[class$="-primary-orange"] {
    background-color: $exp-primary-orange;
  }

  &[class$="-red"] {
    background-color: $exp-red;
  }

  &[class$="-blue"] {
    background-color: $exp-blue;
  }

  &[class$="-yellow"] {
    background-color: $exp-yellow;
  }

  &[class$="-accent-brick-red"] {
    background-color: $exp-accent-brick-red;
  }
}

.section-divider {
  height: .25rem;
  margin: 0 1.5rem;
  background-color: $exp-background-sand-dark;
}
