.dropdown-toggle {
  transform: rotate(0deg);
  background-color: $exp-black;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  @include dropdownAnimation;

  &[class$="active"] {
    transform: rotate(135deg);
    border-radius: 0;
  }
}

.dropdown-menu {
  @include headerAnimation;
  position: absolute;
  left: 0;
  top: 30vh;
  z-index: 2;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  .dropdown-text {
    color: $exp-black;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.75rem;

    &.main {
      display: block;
      padding-bottom: 2rem;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

.overlay {
  background-color: $exp-white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -100vh;
  @include headerAnimation;

  &.active {
    top: 0;
  }
}
