.dropdown-toggle {
  transform: rotate(0deg);
  background-color: $exp-white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  @include dropdownAnimation;

  &[class$="active"] {
    transform: rotate(135deg);
    background-color: white;
    border-radius: 0;
  }
}

.dropdown-menu {
  @include dropdownAnimation;
  position: absolute;
  left: 0;
  top: 1.75rem;
  z-index: 2;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  [class*="-dropdown"] {
    color: $exp-white;
    text-decoration: none;
    display: block;
    margin-left: $gutter-horizontal-small;
    padding-top: $gutter-horizontal-x-small;
  }

  .dropdown-text {
    color: $exp-white;
    padding-top: 4rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.75rem;

    span {
      display: block;
      padding-bottom: 2rem;
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}
