header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  @include headerAnimation;

  &.hidden {
    position: fixed;
    width: 100%;
    top: -10rem;
  }

  .exp-header {
    display: flex;
    position: relative;
    height: 5rem;
    justify-content: space-between;
    width: $grid-width-medium;

    @include respond(XS) {
      width: $grid-width-small;
    }

    > div {
      @include centerTextVertical;
    }

    .right {
      .login-shape {
        @include shapePosition;
        @include dropdownAnimation;
        right: -2.8rem;
        bottom: -1rem;
        width: 8.75rem;

        &.active {
          width: 200%;
          bottom: -25rem;
          right: -25%;
        }
      }
    }
  }
}




