header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  @include easeInAnimation;

  &.hidden {
    position: fixed;
    width: 100%;
    top: -10rem;
  }

  .exp-header {
    display: flex;
    position: relative;
    height: 5rem;
    justify-content: space-between;
    width: $grid-width-medium;

    @include respond(XS) {
      width: $grid-width-small;
    }

    > div {
      @include centerTextVertical;
    }
  }
}
