[class^="exp-btn-"] {
  padding: 1.5rem 1.875rem;
  border-radius: 3rem;
  color: $exp-white;
  cursor: pointer;
  border: none;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.75rem;
  text-transform: uppercase;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

.exp-btn-green {
  background-color: $exp-blue;
}

.exp-btn-orange {
  background-color: $exp-primary-orange;
}

.exp-btn-white {
  background-color: $exp-white;
  color: $exp-blue;
}

.exp-button-header {
  @include buttonReset;
  position: relative;
  z-index: 5;
}
