[class^="exp-btn-"] {
  padding: 1.5rem 1.875rem;
  border-radius: 3rem;
  color: $exp-white;
  cursor: pointer;
  border: none;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.75rem;
  text-transform: uppercase;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

.exp-btn-green {
  background-color: $exp-primary-green;
}

.exp-btn-orange {
  background-color: $exp-primary-orange;
}

.exp-btn-white {
  background-color: $exp-white;
  color: $exp-primary-green;
}

.exp-button-header {
  @include buttonReset;
  color: $exp-black;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  z-index: 1;
}

.exp-button-dropdown {
  @include buttonReset;
  z-index: 1;
}
